<h1 class="text-center mt-4">OUTLETS</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <% @shops.each do |shop| %>
        <div class="card text-center mb-3">
          <div class="card-header"><b><%= shop.name %></b></div>
          <div class="card-body">
            <p><strong>Email:</strong> <%= shop.email %></p>
            <p><strong>Location:</strong> <%= shop.location %></p>
            <p><strong>Contact Info:</strong> <%= shop.contact_info %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>