<div id="page-content">
    <div class="container" id="home-container">
        <div class="jumbotron text-center text-dark"><br><br>
        <br><br><br>
          <h1 class="display-4">Welcome to Taste Buds</h1>
          <p class="lead"><b>Believe the choice in you !!! we are there with the best</b></p><br>
          <div class="text">
          <% if !user_signed_in? %>
            <%= link_to 'LOGIN', new_user_session_path, class: "btn btn-info btn-lg text-dark" %>
            <%= link_to 'SIGN UP', new_user_registration_path, class: "btn btn-info btn-lg text-dark" %>
          <% else %>
            <%= link_to 'SHOP', products_path, class: "btn btn-info btn-lg text-dark" %>
          <% end %>
          </div>
        </div>
    </div>
</div>



    






